body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald';
  background: #F9EFE6;
}

nav {
  height: 80px;
  background: #967B65;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
}



nav a {
  text-decoration: none;
  color: #000;
  padding: 0 1.5rem;
}

nav a:hover {
  color: #fff;
}

/*home*/





.hero {
  background: #F9EFE6;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr;
  @media (max-width: 600px)
  height: 95vh;
  padding: 3rem calc((100vw - 1300px) / 2);
  text-align: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  padding: 0rem 2rem;
}

.column-center h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-family: "Oswald";
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: #6E464E;
  
}

.column-center p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: white;
  background: #6E464E;
  cursor: pointer;
  border-radius: 50px;
  
}

button:hover {
  background: #967B65;
  color: #000;
}

.column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.hero-image {
  width: 100%;
  height: 75%;
}


/*portfolio*/

.container {
  background: #F9EFE6;
}

.heading {
  font-family: "Oswald";
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: #6E464E;
  
}

.gallery-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
}

.gallery-item {

  flex: 1 0 24rem;
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(218, 172, 172, 0.785);
  overflow: hidden;
  width: 30%;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Services*/

h2 {
  font-family: "oswald";
  color: #6E464E;
}

p {
  font-family: 'futura-pt-condensed';
  
}
.container-services {
  width: min(100vw - 3rem, 100ch);
  margin-inline: auto;
  padding-block: 2rem;

  > * + * {
    margin-block-start: min(5rem, 10vh);
  }

  .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45ch, 1fr));
    gap: clamp(1.5rem, 6vmax, 3rem);

    .col {
      &--image {
        @media #{$breakpoint-small} {
          order: -1;
        }
      }

      &--copy {
        max-width: 45ch;
      }
    }
  }
}

/*Client*/


div.gallery {
  margin: 100px;
  float: left;
  width: 180px;
  
  
}



div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}



/*Contact*/

h3 {
  font-family: "Oswald";
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: #6E464E;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #6E464E;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.container {
  border-radius: 5px;
  background-color: #F9EFE6;
  padding: 20px;
  font-family: 'futura-pt-condensed';
  
}

