body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background: #F9EFE6;
}

nav {
  height: 80px;
  background: #967B65;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
}



nav a {
  text-decoration: none;
  color: #000;
  padding: 0 1.5rem;
}

nav a:hover {
  color: #fff;
}

/*home*/

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.home-content {
  max-width: 600px;

}

.home-content h1 {

  font-size: 56px;
  font-weight: 700;
  font-family: "oswald";
}

.home-content p {
  font-size: 16px;
}



/*portfolio*/

.container {
  background: #F9EFE6;
}

.heading {
  font-family: "Oswald";
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: #6E464E;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
}

.gallery-item {

  flex: 1 0 24rem;
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(218, 172, 172, 0.785);
  overflow: hidden;
  width: 30%;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Services*/







/*Contact*/

.heading {
  font-family: "Oswald";
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: #6E464E;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #6E464E;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #967B65;
}

.container {
  border-radius: 5px;
  background-color: #F9EFE6;
  padding: 20px;
}